*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

/* content */

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  max-width: 1140px;
  min-height: 534px;
  gap: 30px;
}

.button {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}


.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.visually-hidden {
 clip: rect(0 0 0 0);
 clip-path: inset(50%);
 width: 1px;
 height: 1px;
 overflow: hidden;
 position: absolute;
 white-space: nowrap;
}

/* result */

.result {
  width: 711px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
  max-width: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset--city {
  min-width: 225px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  width: 100%;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 2.5px 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

..search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.search-form__label:not(.search-form__label--city):hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form-input--focused:focus-visible {
  outline: none;
}

.search-form__label:has(.search-form-input--focused:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox {
  appearance: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox:after {
  opacity: 1;
}


.search-form__submit-button {
  /* padding: 6px 73.5px; */
  width: 194px;
  height: 34px;
  text-wrap: nowrap;
}

/*  content__details  */

.content__details {
  max-width: 399px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  color: #fff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
  position: relative;
  height: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;

}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap:3px;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;

}

.content__video-card-title {
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  padding: 6px 140px;
  margin: 3px;
  text-wrap: nowrap;
}
